<div id="social-media">
  <!-- social icons -->
	<a href="https://twitter.com/nicsuzor<i class="fas fa-twitter"></i></a>
	<a href="https://linkedin.com/nicsuzor"><i class="fas fa-linkedin"></i></a>
	<a href="https://github.com/nicsuzor"><i class="fas fa-github"></i></a>
  <a href="https://keybase.io/nicsuzor"><i class="fas fa-keybase"></i></a>
	<a href="https://scholar.google.com/citations?user=oSSpUscAAAAJ"><i class="fas fa-graduation-cap"></a>
	<a href="mailto://{{ site.email }}"><i class="fas fa-envelope"></i></a>
</div>
