/* ==========================================================================
   Page intro
   ========================================================================== */

.intro {
  margin: 1rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.intro-text {

  /* remove space after last child element */
  > *:last-child {
    margin-bottom: 0;
  }
}

.intro-title {
  margin-bottom: 1rem;
  line-height: 1;
}

.intro-subtitle {
  font-style: italic;
}

.intro-actions {
  @include list-unstyled;

  li {
    display: inline-block;
  }
}

.intro-more {

  > p:first-child {
    font-size: 1.125em;
    line-height: 1.625;
  }
}
